/* @font-face {
  font-family: 'heading';
  src: url('font/HelveticaNeueBold.otf') format('truetype');
}
@font-face {
  font-family: 'normal';
  src: url('font/HelveticaNeueMedium.otf') format('truetype');
} */
* {
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  /* font-family: normal; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#landingPage {
  background-color: #f5f5f5;
  color: #000000;
}
.boxes {
  cursor: pointer;
  /* border: 2px dotted #222222; */
  /* height: 0px; */
  width: 90px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  /* font-family: heading; */
}

.panel {
  /* border: 2px solid white; */
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 1200px;
}

.panel-content p {
  /* margin-top: 1rem;  */
  line-height: 1.4;
}
.otherPagesBackground {
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}
nav {
  border: 1px solid red;
  width: 100%;
}
.folderText {
  text-align: center;
}
/* .test {
  border: 1px solid red;
} */
#aboutUstext {
  margin-top: 30px;
}
@media (max-width: 768px) {
  body {
    flex-direction: column;
    align-items: center;
  }

  .boxes {
    position: static !important;
    margin: 10px 0;
  }
}
