/* @font-face {
  font-family: 'heading';
  src: url('font/HelveticaNeueBold.otf') format('truetype');
}
@font-face {
  font-family: 'normal';
  src: url('font/HelveticaNeueMedium.otf') format('truetype');
} */
* {
  padding: 0px;
  margin: 0px;
}

body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  /* font-family: normal; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 60vh;
  flex-direction: column;
}

#landingPage {
  background-color: #f5f5f5;
  color: #000000;
  height: 100vh;
  overflow: hidden;
}
.boxes {
  cursor: pointer;
  /* border: 2px dotted #222222; */
  /* height: 0px; */
  width: 90px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 2px dotted transparent;
  /* font-family: heading; */
}
.boxes.selected {
  border-color: #222222;
}
.panel {
  /* border: 2px solid white; */
  border-radius: 12px;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.panel-content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* text-align: center; */
  /* width: 83.33%; */
  margin-top: 50px;
  /* border: 1px solid red; */
}

.panel-content p {
  /* margin-top: 1rem;  */
  line-height: 1.4;
  /* border: 1px solid blue; */
}

.otherPagesBackground {
  background-color: black;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.folderText {
  text-align: center;
}
/* .test {
  border: 1px solid red;
} */
#FoundersPage {
  margin-top: 118px;
}
.backImg {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 8px;
  height: auto;
  cursor: pointer;
  z-index: 10;
  /* transform: rotate(180deg); */
}
.middleContent {
  /* width: 90%;
  height: 600px; */
}
.underImgContent {
  width: 90%;
  margin-top: 30px;
  color: #fff;
  margin-bottom: 1%;
}

.eventRowPosition {
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  /* width: 120%; */
  margin-top: 120px;
}
.eventPosition {
  display: flex;
  flex-direction: column;

  /* margin: 30px; */
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
}
.eventImage {
  height: 200px;
  width: 100%;
}
#eventContent {
  width: 90%;
  /* margin-top: 500px; */
}
.eventText {
  color: #fff;
}
.page-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.textHover {
  color: #777777;
  /* color: black; */
  transition: color 1s ease;
}
.textHoverLast {
  color: #777777;
  padding-bottom: 10px;
}
.textHoverLast:hover {
  color: #913fd4;
  cursor: pointer;
}
.textHover:hover {
  color: #913fd4;
  cursor: pointer;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal img {
  max-width: 90%;
  max-height: 90%;
}
.active {
  color: #913fd4;
}
/* .bottomImage {
  height: 50px;
  align-self: flex-start;
  margin-left: 8px;
} */
.positionBox {
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* border: 1px solid red; */
  width: 90%;
  /* margin-left: 26px; */
}
.blueBox {
  background-color: #3b67fe;
}
.pinkBox {
  background-color: #ffc9df;
}
.yellowBox {
  background-color: #ffd438;
}
.orangeBox {
  background-color: #fd8a49;
}
.redBox {
  background-color: #fe3434;
}
.greenBox {
  background-color: #28996b;
}
.creamBox {
  background-color: #f7e7c3;
}
.brownBox {
  background-color: #9f654d;
}
.firstPurpleBox {
  background-color: #a389b0;
}
.secondPurpleBox {
  background-color: #9e95d4;
}
.lightBlueBox {
  background-color: #9dc1f1;
}
.salmonBox {
  background-color: #cd9692;
}
.eYellowBox {
  background-color: #e5d641;
}
.eOrangeBox {
  background-color: #f38819;
}
.ewineRedBox {
  background-color: #9a1b25;
}
.blueBox,
.pinkBox,
.yellowBox,
.orangeBox,
.redBox,
.greenBox,
.creamBox,
.brownBox,
.firstPurpleBox,
.secondPurpleBox,
.lightBlueBox,
.salmonBox,
.eYellowBox,
.eOrangeBox,
.ewineRedBox {
  /* border: 1px solid red; */
  height: 20px;
  width: 20px;
  align-self: flex-start;
  margin: 23px 2px 2px 2px;
}
.wordGradiant {
  background: linear-gradient(
    to right,
    #3b67fe,
    #ffc9df,
    #ffd438,
    #fd8a49,
    #fe3434,
    #28996b,
    #3b67fe
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradientMove 5s ease-in-out infinite alternate;
}
.eventHeader {
  color: white;
  font-family: Helvetica;
  font-weight: bolder;
  font-size: 32px;
  margin-bottom: 10px;
}
.pageHeaders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
}
.indexHeaderContent {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: #777777;
}
.imageCreateDiv {
  height: 400px;
  /* border: 1px solid red; */

  padding: 50px 70px 0px 70px;
  background-color: white;
}
.impactLogoEdit {
  margin-top: 40px;
}
.underCreateSquaresDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.underCreateSquares {
  height: 60px;
  width: 170px;
  border: 1px solid black;
  margin-top: 20px;
  margin-left: 1px;
  margin-right: 1px;
}
.positionColBtns {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border: 1px solid red; */
  margin-top: 80px;
}
.positionRowBtns {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.colorChangeBTN {
  width: 100%;
  height: 40px;
  border: 0.01em solid rgba(255, 255, 255, 0.603);
  margin: 10px;
}
#createPanel {
  margin-top: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
}
.imageEditContent {
  margin-top: 250px;

  /* border: 1px solid green; */
}
@keyframes gradientMove {
  0% {
    background-position: 0% center;
  }
  100% {
    background-position: 100% center;
  }
}
.altWordGradiant {
  background: linear-gradient(
    to right,
    #f7e7c3,
    #9f654d,
    #a389b0,
    #9e95d4,
    #9dc1f1
  );
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradientMove 5s ease-in-out infinite alternate;
}
.eventWordGradiant {
  background: linear-gradient(to right, #cd9692, #e5d641, #f38819, #9a1b25);
  background-size: 300% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  animation: gradientMove 5s ease-in-out infinite alternate;
}
#eventColorDiv {
  /* margin-left: 30px; */
}
.saveDiv {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 44px;
}
.saveImage {
  background-color: #800000;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  border: 2px solid #5a0000;
  padding: 10px 25px;
  cursor: pointer;
  box-shadow: inset -2px -2px 2px #5a0000, inset 2px 2px 2px #a52a2a;

  height: auto;
  cursor: pointer;
}
.saveImage:hover {
  background-color: #a00000;
}
.createInstructions {
  color: white;
  text-align: center;
  margin-top: 50px;
}
.createText {
  margin-top: 12px;
}
@media (max-width: 1310px) {
  .impactLogoEdit {
    width: 100%;
  }
  .imageEditContent {
    margin-top: 250px;

    /* border: 1px solid red; */
    width: 90%;
  }
  .impactLogoEdit {
    width: 100%;
  }
  .underCreateSquares {
    height: 45px;
    margin: 0.5px;
    width: 19%;
  }
  .imageCreateDiv {
    height: 300px;
  }
}
@media (max-width: 1063px) {
  .impactLogoEdit {
    width: 100%;
  }
}

@media (max-width: 920px) {
  .imageCreateDiv {
    height: 300px;
  }

  .positionColBtns {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .boxes {
    /* position: static !important; */
    margin: 10px 0;
  }
  .imageCreateDiv {
    height: 200px;
  }
  .underCreateSquares {
    height: 20px;
    margin: 0.5px;
  }
}

@media (max-width: 650px) {
  .underCreateSquares {
    height: 20px;
    margin: 0.5px;
  }
  .colorChangeBTN {
    height: 20px;
  }
  .middleContent {
    /* width: 90%; */
    height: 400px;

    margin-top: 250px;
  }
  #MainLogo {
    margin-bottom: 150px;
  }
  #landingPage {
    background-color: #f5f5f5;
    color: #000000;
    height: 85vh;
    overflow: hidden;
  }
}
@media (max-width: 633px) {
  .eventRowPosition {
    display: flex;
    flex-direction: column;
    margin-top: 125px;
  }
  .eventImage {
    height: 200px;
    width: 100%;
  }
  .eventPosition {
    width: 90%;
  }

  #createPanel {
    margin-top: 120px;
  }
  .imageCreateDiv {
    padding: 20px 30px 0px 30px;
    /* border: 1px solid yellow; */
    height: 200px;
  }
  .colorChangeBTN {
    margin: 5px;
  }
  .imageEditContent {
    margin-top: 200px;
  }
}
@media (min-width: 633px) {
  .eventRowPosition {
    /* border: 1px solid red; */
    width: 400px;
  }

  .panel-content {
    /* border: 1px solid red; */
    width: 400px;
  }
}
@media (max-width: 500px) {
  .imageCreateDiv {
    padding: 30px;
    /* border: 1px solid yellow; */
    height: 150px;
  }

  .eventRowPosition {
    display: flex;
    flex-direction: column;
    /* margin-top: 470px; */
  }
  .otherPagesBackground {
    height: 70vh;
  }

  .eventImage {
    height: 200px;
    /* width: 70%; */
  }
  .eventPosition {
    width: 90%;
  }
  .blueBox,
  .pinkBox,
  .yellowBox,
  .orangeBox,
  .redBox,
  .greenBox,
  .creamBox,
  .brownBox,
  .firstPurpleBox,
  .secondPurpleBox,
  .lightBlueBox,
  .salmonBox,
  .eYellowBox,
  .eOrangeBox,
  .ewineRedBox {
    height: 23px;
    width: 23px;
  }
  /* .positionBox {
    margin-left: 35px;
  } */
  .imageEditContent {
    width: 90%;
    margin-top: 120px;
  }
  #createPanel {
    justify-content: start;
  }
}

@media (max-width: 450px) {
  .underCreateSquares {
    height: 20px;
  }
}
@media (max-width: 400px) {
  .colorChangeBTN {
    margin: 5px;
  }

  .underCreateSquares {
    margin: 0.5px;
    height: 16px;
    /* border: 1px solid red; */
  }
  #eventContent {
    margin-top: 200px;
  }
  .panel-content {
    margin-top: 120px;
  }
}
@media (max-width: 333px) {
  .middleContent {
    width: 90%;
    height: 200px;
  }
  .eventRowPosition {
    display: flex;
    flex-direction: column;
    margin-top: 600px;
  }
  .panel-content {
    margin-top: 200px;
  }
}
@media (max-width: 290px) {
  .middleContent {
    width: 90%;
    height: 200px;
  }
  .eventRowPosition {
    display: flex;
    flex-direction: column;
    margin-top: 600px;
  }
}
